
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#nunigraph {
    background-color: rgb(0, 25, 25);
    height: 80%;
    width: 100%;
}

#node-options {
    position: absolute;
    display: block;
    color: wheat;
    bottom:0;
    right:0;
    width: 100%;
    height: 50%;
    background-color: #333;
}

#create-new-node-btns {
    color: wheat;
    width: 100%;
    height: 7%;
}

#connection-type-prompt {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 4px solid burlywood;
    box-sizing: border-box;
}

.number-grab {
    cursor: grab;
}
.number-grabbing {
    cursor: grabbing;
}

.connection-button {
    font-size: 2em;
}