





@font-face{ 
	font-family: BalooChettan2;
	src: url('BalooChettan2-Regular.ttf') format('truetype');
}
:root {
    /* --mouse-x: 0px;
    --mouse-y: 0px; */
    --text: rgba(105, 255, 235, 0.8);
    --canvas-bg: rgb(0, 10, 15);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #eee;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    font-family: BalooChettan2;
}

option {
    background: #333;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    background: transparent;
    border: 0.5px groove var(--text);
    color: var(--text);
    font-family: BalooChettan2;
    /* background-image: url(...);   Add custom arrow */
}
button {
    font-family: BalooChettan2;
}

#graph-contextmenu {
    display: none;
    position: absolute;
    background-color: #eee;
    color: black;
    z-index: 99;
}
.contextmenu-button {
    text-align: left;
    margin: 0;
    padding: 0;
}
.contextmenu-button:hover {
    background-color: rgba(255, 0, 0, 0.204);
}

#nunigraph-canvas {
    background-color: var(--canvas-bg);/* #fefefe; */
    height: 80%;
    width: 100%;
}

#right-panel {
    position: absolute;
    right: 0px;
    top: 25%;
    width: 0vw;
    /* transition: width 0.5s; */
}

#create-new-node-btns {
    color: wheat;
    width: 100%;
    height: 7%;
}

#connection-type-prompt {
    display: none;
    position: absolute;
}

.connection-button {
    font-size: 1.5em;
    border: 4px solid burlywood;
}

.number-grab {
    font-family:'Orbitron';
    background: transparent;
    color: white;
    border: 1px solid var(--canvas-bg);
    padding: 10px;
    cursor: grab;
}

.number-grab:active {
    cursor: grabbing;
}

.record {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    color:white;
    background-color: #755;
}
.recording {
    background-color: #f00;
}

.selected {
    background-color: green;
}

.box {
    display: grid;
    grid-template-columns: 39% 61%;
}

.left-side-row {
    padding: 10px;
}

#tabs {
    background-color: #333;
    position: absolute;
    color: var(--text);
    bottom:0;
    right:0;
    width: 100%;
    min-height: 39%;
}

.tab {
    display: none;
    width: 100%;
}

.show {
    display: inline-block;
}

#node-options {
    width: 100%;
}










/* #adsr-box {
} */
.shadow-knob {
    display: inline-block;

    width: 40px;
    height: 40px;

    border-radius: 100%;
    background-image: url('images/shadow-knob.png');
    background-size: 100% 100%;
    pointer-events: none;
}

.js-dial {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;

    border-radius: 100%;

    background-image: url('images/knob.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: .4;
    pointer-events: auto;
}
#adsr-canvas {
    display: inline-block;
    width: 92px;
}
#aux-adsr-canvas {
    display: inline-block;
    width: 80%;
}













































#keyboard-inner-tab {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0% 10%;
}






.keyboard {
    text-align: center;
    font-size: 7px;
    font-family: sans-serif;
    margin-bottom: 2%;
}

.keyboard__row {
    background-color: rgb(255, 174, 0);
    display: inline-block;
    height: 3em;
    margin: 0.2em;
}

.keyboard__row--h1 {
    height: 1.7em;
    line-height: 1.4em;
}

.keyboard__row--h3 {
    height: 3.3em;
}

.keyboard__row > * {
    position: relative;
    background: #333;
    text-align: center;
    color: #eee;
    float: left;
    border-radius: 0.3em;
    margin: 0.2em;
    padding: 0.2em;
    width: 3.3em;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
}

.keyboard__row--h1 > div {
    width: 3.5em;
}

.key-pressed { 
    background: #00ff262a;
    color: #aaa;
    position: relative;
    top: 0.2em;
    box-shadow: 0 0 0 0.05em black;
}

.key--w3 {
    width: 4.6em;
}

.key--w4 {
    width: 6em;
}

.key--w5 {
    width: 6.5em;
}

.key--w6 {
    width: 8.3em;
}

.key--space {
    width: 18em;
}

.key--double > * {
    padding-top: 0.1em;
}

.key--letter {
    line-height: 2.8em;
}

.key--bottom-left > * {
    position: absolute;
    text-align: left;
    bottom: 0.4em;
    left: 0.4em;
}

.key--bottom-right > * {
    position: absolute;
    text-align: right;
    bottom: 0.4em;
    right: 0.4em;
}

.key--fn > * {
    font-size: 0.6em;
    line-height: 1em;
    padding-top: 1.2em;
    padding-right: 0.2em;
    text-align: right;
    float: right;
}

.key--word > * {
    font-size: 0.8em;
}

.key--arrow--tall > *,
.key--arrow > * {
    font-size: 0.5em;
    line-height: 3em;
}

.key--arrow {
    height: 1.8em;
    margin-top: 1.7em;
    line-height: 0.5em;
}

.key--arrow--tall > * {
    padding-top: 0.2em;
}

.keyboard > .keyboard__row {
    text-align: center;
}