/* @font-face{
    font-family:'digital-clock-font';
    src: url('put_the_location_to_your_font.ttf or .otf');
} */

:root {
    /* --mouse-x: 0px;
    --mouse-y: 0px; */
    --hover-node: rgba(25, 255, 205, 0.8);
    --canvas-bg: rgb(0, 25, 25);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#nunigraph {
    background-color: var(--canvas-bg);
    height: 80%;
    width: 100%;
}

#node-options {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    color: wheat;
    bottom:0;
    right:0;
    width: 100%;
    min-height: 20%;
    background-color: #333;
}

#create-new-node-btns {
    color: wheat;
    width: 100%;
    height: 7%;
}

#connection-type-prompt {
    display: none;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.connection-button {
    font-size: 2em;
    border: 4px solid burlywood;
}

.number-grab {
    font-family:'Orbitron';
    background: transparent;
    color: white;
    border: 1px solid var(--canvas-bg);
    padding: 10px;
    cursor: grab;
}

.number-grab:active {
    cursor: grabbing;
}

.record {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    color:white;
    background-color: #755;
}
.recording {
    background-color: #f00;
}

.selected {
    background-color: green;
}

.box {
    display: grid;
    grid-template-columns: 39% 61%;
}

.left-side-row {
    padding: 10px;
}