






code {
    font-family: monospace;
}

.code2{
    background-color: rgba(0,0,0,0.4);
}

.hide {
    display: none;
}

.some-margin {
    margin: 10px;
} 
.some-padding {
    padding: 10px;
}
.some-border {
    border: 10px solid transparent;
}

.shrink {
    width: 40px;
}

.text-input {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid var(--color3);
    color: var(--color6);
}
.text-input-wide {
    @extend .text-input;
    width: 350px;
    height: 40px;
}

.text-input-medium {
    @extend .text-input;
    width: 200px;
    height: 30px;
}

.center {
    text-align: center;
}

.preset-list {
    border: 1px solid var(--color3);
    display: grid;
    grid-template-columns: 1fr;
    max-height: 200px;
    overflow-y: scroll;
    text-align: left;
}

.buffers-list {
    border: 1px solid var(--color3);
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: scroll;
    text-align: left;
    width: 150px;
}

.buffer-box {
    display: flex;
    height: 140px;
}

.rect-0 {
    width: 40px;
    height: 25px;
    background-color: var(--color1);
    color: var(--color5);
}

.dim-text {
    // undimmed
    color: var(--color5);
}

.vert-split {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.flat-grid {
    display: flex;
    justify-content: space-between;

    span { 
        width: 100%;
        text-align: center;
    }
}

.table { 
    display: table;
    height: 100%;
    width: 100%;
}

.full {
    width: 100%; 
    height: 100%;
}

.vcontainer {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}

.color1 {
    background: var(--color1);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.vert-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.note-box {
    background: 
        linear-gradient(var(--color4), var(--color1));
    border: 2px solid var(--color0);
    // border-radius: 20%;
}

.note-box-halfway {
    background: 
        linear-gradient(var(--color4), var(--color0));
    border: 2px solid var(--color0);
}

.smaller-text {
    font-size: .75em;
}