






code {
    font-family: monospace;
}

.some-margin {
    margin: 5%;
}

.some-padding {
    padding: 2%;
}

.shrink {
    width: 40px;
}

.text-input {
    background-color:  $c1;
    border-width: 0.25px;
    color: #999;
}
.text-input-wide {
    @extend .text-input;
    width: 200px;
}

.center {
    text-align: center;
}

.preset-list {
    display: grid;
    grid-template-columns: 50% 50%;
}

.rect-0 {
    width: 40px;
    height: 25px;
    background-color: #444;
    color: white;
}