






code {
    font-family: monospace;
}

.hide {
    display: none;
}

.some-margin {
    margin: 5%;
}

.some-margin {
    margin: 10px;
} 

.some-padding {
    padding: 2%;
}

.shrink {
    width: 40px;
}

.text-input {
    background-color: rgba(0,0,0,0.1);
    border-width: 0.25px;
    color: $color6;
}
.text-input-wide {
    @extend .text-input;
    width: 200px;
}

.center {
    text-align: center;
}

.preset-list {
    display: grid;
    grid-template-columns: 50% 50%;
}

.rect-0 {
    width: 40px;
    height: 25px;
    background-color: $color1;
    color: $color5;
}

.dim-text {
    color: $color4;
}