






code {
    font-family: monospace;
}

.hide {
    display: none;
}

.some-margin {
    margin: 5%;
}

.some-margin {
    margin: 10px;
} 

.some-padding {
    padding: 2%;
}

.shrink {
    width: 40px;
}

.text-input {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid $color3;
    color: $color6;
}
.text-input-wide {
    @extend .text-input;
    width: 200px;
}

.center {
    text-align: center;
}

.preset-list {
    border: 1px solid $color3;
    display: grid;
    grid-template-columns: 1fr;
    height: 200px;
    overflow-y: scroll;
    text-align: left;
}

.buffers-list {
    border: 1px solid $color3;
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: scroll;
    text-align: left;
}

.buffer-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 150px; 
}

.rect-0 {
    width: 40px;
    height: 25px;
    background-color: $color1;
    color: $color5;
}

.dim-text {
    color: $color4;
}

.vert-split {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.flat-grid {
    // display: gr
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;

    span { 
        margin: 0 3%;
    }
}