






code {
    font-family: monospace;
}

.code2 {
    background-color: var(--color0);
}

.margin-4 {
    margin: 4px;
} 

.some-margin {
    margin: 10px;
} 
.some-padding {
    padding: 10px;
}
.some-border {
    border: 10px solid transparent;
}

.shrink {
    width: 40px;
}

.text-input {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid var(--color3);
    color: var(--color6);
}
.text-input-wide {
    @extend .text-input;
    width: 100%;
    height: 40px;
}

.text-input-medium {
    @extend .text-input;
    width: 200px;
    height: 30px;
}

.center {
    text-align: center;
}

.preset-list {
    border: 1px solid var(--color3);
    display: grid;
    grid-template-columns: 1fr;
    max-height: 200px;
    overflow-y: scroll;
    text-align: left;
}

.buffers-list {
    border: 1px solid var(--color3);
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: scroll;
    text-align: left;
    width: 150px;
}

.buffer-box {
    display: flex;
    height: 140px;
}

.rect-0 {
    width: 40px;
    height: 25px;
    background-color: var(--color1);
    color: var(--color5);
}

.dim-text {
    // undimmed
    color: var(--color5);
}

.vert-split {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.step-updater {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.step-updater-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-text {
    font-size: 2em;
    text-shadow: blue;
}

.flat-grid {
    display: flex;
    justify-content: space-between;
}

.table { 
    display: table;
    height: 100%;
    width: 100%;
}

.full {
    width: 100%; 
    height: 100%;
}

.vcontainer {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}

.color1 {
    background: var(--color1);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.vert-grid {
    display: grid;
    grid-template-columns: 1fr;
}
// display: inline-block;
//       margin: 1px;
//       width: 15px;
//       height: 30px;
//       background: #181818 linear-gradient(#282828, transparent);
//       border: 2px solid #222;
//       border-radius: 5px;
//       box-shadow: 0 2px 10px $c-shadow;
//       cursor: pointer;
$shadow: rgba(0, 0, 0, 0.4);

.note-box {
    margin: 1px;
    background: linear-gradient(var(--color3), transparent);
    border: 2px solid var(--color1);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 10px $shadow;
    cursor: pointer;

    &.selected {
        background:var(--color3) linear-gradient(#5c8, var(--color0));
        &.highlighted {
            border-color: #cbf;
            transform: translateY(2px);
        }
    }
    &.halfway {
        background: linear-gradient(var(--color4), var(--color0));
        &.selected {
            background:var(--color3) linear-gradient(#5ca, var(--color0));
        }
    }
}

.sequencer-step-row-container {
    @extend .flat-grid;
    align-items: center;
}

.sequencer-step-row {
    @extend .flex-center;
}

.sequencer-bottom-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.smaller-text {
    font-size: .75em;
}