






code {
    font-family: monospace;
}

.some-margin {
    margin: 5%;
}

.some-padding {
    padding: 2%;
}

.shrink {
    width: 40px;
}

.text-input {
    background-color:  $c1;
    border-width: 0.25px;
    color: #999;
}

.center {
    text-align: center;
}

#preset-list {
    display: grid;
    grid-template-columns: 50% 50%;
}