






.some-margin {
    margin: 5%;
}

.some-padding {
    padding: 2%;
}
.buffer-row {
    display: inline-grid;
    width: 60%;
    margin-right: 5%;
    grid-template-columns: 0.5fr 0.25fr 0.25fr 0.25fr 0.5fr;
}