






#graph-contextmenu {
    display: none;
    position: absolute;
    background-color: #eee;
    color: black;
    z-index: 99;
    
    .contextmenu-button {
        text-align: left;
        margin: 0;
        padding: 0;

        &:hover {
            background-color: rgba(255, 0, 0, 0.204);
        }
    }
}

#connection-type-prompt {
    display: none;
    position: absolute;

    button {
        font-size: 1.5em;
        border: 1px solid rgb(26, 255, 0);
        border-width: 2px 4px;
    }
}

#info-menu-container {
    color: black;
    position: absolute;
    pointer-events: none;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}

.info-menu {
    display: none;
    border: 3px solid blue;
    background-color: white;
    width: 400px;
    height: 400px;
    margin-top: 5%;
    z-index: 100;
}

#info-menu-grid {
    pointer-events: all;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
}

#info-menu-buttons {
    display: grid;
    grid-template-columns: 1fr;
    
    .info-menu-button {
        pointer-events: all;
        border: 1px solid #333;
        background-color: #ddd;
    }

    .active-info-button {
        background-color: white;
        border-right: none;
        outline: none;
    }
}

#about-info-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}

.info-content {
    list-style-position: inside;
    text-align: left;
    margin-left: 3%;
    display: none;
}

.info-text-container {
    display:table;
    height: 100%;
}
