






.number-dial-container {
    display: inline-grid;
}

.list-btn {
    padding: 0px 10px;
    color: var(--color5);
    background: var(--color0);
    box-sizing: border-box;
    text-align: left;
    font-size: 1em;
    border: none; 

    transition: filter 0.2s;
    &:hover {
        filter: brightness(150%);
    }
}

.list-btn:nth-child(odd) { 
    background: 
        linear-gradient(
        rgba(0,0,0, 0.06), 
        rgba(0,0,0, 0.06)
        ), 
        var(--color0);
}


::-webkit-scrollbar {
    width:15px;
}
::-webkit-scrollbar-track{
    background:linear-gradient(var(--color1),var(--color0)); border-radius: 5x;
}
::-webkit-scrollbar-thumb {
    background:linear-gradient(var(--color3),var(--color2)); border-radius: 5px;
}

.swapper {
    span {
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
}

.nesw-corner-drag-box {
    cursor: nesw-resize;
}
.nwse-corner-drag-box {
    cursor: nwse-resize;
}
.resizable-window-column {
    cursor: ew-resize;
    background-color: transparent;
}
.resizable-window-row {
    cursor: s-resize;
    background-color: transparent;
    display: grid;
    grid-template-columns: 5px auto 5px;
    height: 5px;
}


.draggable-row {
    display: grid;
    grid-template-columns: 5px auto 5px;
}


.title-editor {
    background-color: transparent;
    color: inherit;
    text-overflow: ellipsis;
    border-width: 1px;
    border-color: var(--color2);
    border-top-color: var(--color0);
    border-left-color: var(--color0);
    border-radius: 4px;
}

.error-msg {
    color: pink;
}

.phase-shift-slider {
    // width: 75px;
    width: 50px;

    ::-webkit-slider-runnable-track {
        background: var(--color2);
        height: 2px;
    }
    
    ::-webkit-slider-thumb {
        background: var(--color0);
        height: 10px;
        width: 10px;
    }
}

.text-unit {
    display: inline-block;
    text-align: center;

    &.width-40 {
        width: 40px;
    }
}

.svg-line-container {
    border-radius: 100px;
    height: 8px;
    width: 50px;
    background-color: var(--color1);

    .svg-line {
        stroke: var(--color3);
        stroke-width: 20px;
    }
}