






.apply-btn {
    margin: 5px;
    padding: 0px 5px;
    border-radius: 5px;
    border: none;
    color: $color5;
    background-color: $color2;
    float: right;
    box-sizing: border-box;
}

.list-btn {
    padding: 0px 10px;
    color: $color4a;
    background: lighten($color:  $color1, $amount: 2%);
    box-sizing: border-box;
    text-align: left;
    font-size: 1em;
    border: none; 

    &:hover {
        background: 
            mix(
            $color1,
            rgb(255, 0, 255),
            98%);
    }
}
.list-btn:nth-child(odd) { 
    background: lighten($color:  $color1, $amount: 1%);
    
    &:hover {
        background:
            mix(
            $color1,
            rgb(255, 0, 255),
            98%);
    }
}

::-webkit-scrollbar {
    width:15px;
}
::-webkit-scrollbar-track{
    background:linear-gradient($color1,$color0); border-radius: 5x;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient($color3,$color2); border-radius: 5px;
}

.swapper {
    span {
        cursor: pointer;
    }
}

.corner-drag-box {
    float: right;
    width: 10px;
    height: 10px;
    cursor: nwse-resize;
    background-color: #444;
}

.number-dial-input::-webkit-outer-spin-button,
.number-dial-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number-dial-input {
    background-color: $color1;
    width: 60px;
    color: $color5; 
    display: block;
}

.number-dial-component {
    display: inline-block;
    text-align: start;
}

.title-editor {
    background-color: transparent;
    color: #111;
    margin: 0 20px;
}