






.apply-btn {
    padding: 0px 5px;
    border-radius: 5px;
    color: gray;
    background-color: $c0;
    float: right;
    box-sizing: border-box;
}

.list-btn {
    padding: 0px 5px;
    border-radius: 5px;
    color: gray;
    background-color: $c0;
    box-sizing: border-box;
}