






.apply-btn {
    margin: 5px;
    padding: 0px 5px;
    border-radius: 5px;
    border: none;
    color: $color5;
    background-color: $color2;
    float: right;
    box-sizing: border-box;
}

.list-btn {
    padding: 0px 10px;
    color: $color4a;
    background: lighten($color:  $color1, $amount: 2%);
    box-sizing: border-box;
    text-align: left;
    font-size: 1em;
    border: none; 

    &:hover {
        background: 
            mix(
            $color1,
            rgb(255, 0, 255),
            98%);
    }
}
.list-btn:nth-child(odd) { 
    background: lighten($color:  $color1, $amount: 1%);
    
    &:hover {
        background:
            mix(
            $color1,
            rgb(255, 0, 255),
            98%);
    }
}

::-webkit-scrollbar {
    width:15px;
}
::-webkit-scrollbar-track{
    background:linear-gradient($color1,$color0); border-radius: 5x;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient($color3,$color2); border-radius: 5px;
}

.swapper {
    span {
        cursor: pointer;
    }
}

.resizeable-window-bottom-row {
    display: grid;
    grid-template-columns: 5px auto 5px;
    cursor: s-resize;
    height: 5px;
}

.nwse-corner-drag-box {
    cursor: nwse-resize;
}

.draggable-row {
    display: grid;
    grid-template-columns: 5px auto 5px;
}

.ew-edge-drag {
    cursor: ew-resize;
}

.nesw-corner-drag-box {
    cursor: nesw-resize;
}

.title-editor {
    background-color: transparent;
    color: inherit;
    margin: 0 20px;
}


.error-msg {
    color: pink;
}