






.number-dial-container {
    display: inline-grid;
}

.list-btn {
    padding: 0px 10px;
    color: var(--color5);
    background: var(--color0);
    box-sizing: border-box;
    text-align: left;
    font-size: 1em;
    border: none; 

    transition: filter 0.2s;
    &:hover {
        filter: brightness(150%);
    }
}

.list-btn:nth-child(odd) { 
    background: 
        linear-gradient(
        rgba(0,0,0, 0.06), 
        rgba(0,0,0, 0.06)
        ), 
        var(--color0);
}


::-webkit-scrollbar {
    width:15px;
}
::-webkit-scrollbar-track{
    background:linear-gradient(var(--color1),var(--color0)); border-radius: 5x;
}
::-webkit-scrollbar-thumb {
    background:linear-gradient(var(--color3),var(--color2)); border-radius: 5px;
}

.swapper {
    span {
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
}

.resizeable-window-bottom-row {
    display: grid;
    grid-template-columns: 5px auto 5px;
    cursor: s-resize;
    height: 5px;
}

.nwse-corner-drag-box {
    cursor: nwse-resize;
}

.draggable-row {
    display: grid;
    grid-template-columns: 5px auto 5px;
}

.ew-edge-drag {
    cursor: ew-resize;
}

.nesw-corner-drag-box {
    cursor: nesw-resize;
}

.title-editor {
    background-color: transparent;
    color: inherit;
    text-overflow: ellipsis;
    border-width: 1px;
    border-color: var(--color2);
    border-top-color: var(--color0);
    border-left-color: var(--color0);
    border-radius: 4px;
}

.error-msg {
    color: pink;
}

.fader-0 {
    width: 50px;

    ::-webkit-slider-runnable-track {
        background: var(--color2);
        height: 2px;
    }
    
    ::-webkit-slider-thumb {
        background: var(--color0);
        height: 10px;
        width: 10px;
    }
}