






.apply-btn {
    margin: 5px;
    padding: 0px 5px;
    border-radius: 5px;
    border: none;
    color: $color5;
    background-color: $color2;
    float: right;
    box-sizing: border-box;
}

.list-btn {
    padding: 0px 10px;
    color: lighten($color: $color4, $amount: 15%);
    background: lighten($color:  $color1, $amount: 2%);
    box-sizing: border-box;
    text-align: left;
    font-size: 1em;
    border: none; 
}
.list-btn:nth-child(odd) { 
    background: $color2;
}

::-webkit-scrollbar {
    width:15px;
}
::-webkit-scrollbar-track{
    background:linear-gradient($color1,$color0); border-radius: 5x;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient($color3,$color2); border-radius: 5px;
}