






.info-button {
    cursor: help;
    background: rgb(83, 83, 161);
    color: white;
    border-radius: 100px;
    font-style: italic;
    border: 1px solid rgba(255, 255, 255, 0.151);
    box-sizing: border-box;

    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
    width: 20px;
    height: 20px;
}




.record {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    color:white;
    background-color: #755;
}
.recording {
    background-color: #f00;
}




.audioparams-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 5px 10px;
}

$number-grab-width: 120px;
.params-box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: $number-grab-width;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
}




.kb-button {
    min-width: 50px;
    font-size: 20px;
}




.lcd-display {
    background: var(--color0);//#050505;
    padding: 10px;
    margin: 10px 0px;
    color: rgb(206, 252, 255);
    // box-shadow: 0 0 20px 0px var(--color0);
    padding: 18x;
    font-family: monospace;
    letter-spacing: 0.15em;
}



.nuni-logo {
    background-image: url('favicon-32x32.png');
    background-size: 100%;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
}


.grid-icon {
    background-image: url('grid-icon.png');
    background-size: 100%;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
}

.analyser-canvas { 
    @extend .full;
    height: 70px;
}


/* Tooltip container */
.tooltip {
position: relative;
background-color: #f70;
width: 20px;
height: 20px;
border-radius: 100%;
color: white;
float: right;
text-align: center;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 300px;
background-color: var(--color2);
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
top: 150%;
left: 50%;
margin-left: -285px;
}

.tooltip .tooltiptext::after {
content: "";
position: absolute;
bottom: 100%;
left: 95%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: 
transparent transparent var(--color2) transparent;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}