






.info-button {
    cursor: help;
    background: rgb(83, 83, 161);
    color: white;
    border-radius: 100px;
    font-style: italic;
    border: 1px solid rgba(255, 255, 255, 0.151);
    box-sizing: border-box;

    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
    /* float: right; */
    margin: auto;
    margin-right: 20px;
    width: 20px;
    height: 20px;

    vertical-align: middle;
    text-align: center;

    position: absolute;
    bottom: 1%;
}




.record {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    color:white;
    background-color: #755;
}
.recording {
    background-color: #f00;
}




.shadow-knob {
    display: inline-block;

    width: 40px;
    height: 40px;

    border-radius: 100%;
    background-image: url('images/shadow-knob.png');
    background-size: 100% 100%;
    pointer-events: none;
}
.js-dial {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;

    border-radius: 100%;

    background-image: url('images/knob.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: .4;
    pointer-events: auto;
}




.number-grab {
    font-family:'Orbitron';
    background: transparent;
    color: white;
    border: 1px solid $canvas-bg;
    padding: 10px;
    cursor: grab;
    
    &:active {
        cursor: grabbing;
    }
}
