






.info-button {
    cursor: help;
    background: rgb(83, 83, 161);
    color: white;
    border-radius: 100px;
    font-style: italic;
    border: 1px solid rgba(255, 255, 255, 0.151);
    box-sizing: border-box;

    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
    width: 20px;
    height: 20px;
}




.record {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    color:white;
    background-color: #755;
}
.recording {
    background-color: #f00;
}




.shadow-knob {
    display: inline-block;

    width: 40px;
    height: 40px;
    margin: 2px;

    border-radius: 100%;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.7)
        ),
        url('images/shadow-knob.png');
    background-size: 100% 100%;
    pointer-events: none;
}
.js-dial {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    box-sizing: border-box;

    width: 40px;
    height: 40px;

    border-radius: 100%;

    border: 2px solid $color4a;
    background-image: url('images/knob.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: .4;
    pointer-events: auto;
}




.number-grab {
    font: 1em Roboto;
    letter-spacing: 0.2em;
    background: linear-gradient($color2, #111);  
    color: $color5;
    border: 1px solid $color3;
    padding: 10px;
    cursor: grab;
    
    &:active {
        cursor: grabbing;
    }
}




.kb-button {
    min-width: 50px;
    font-size: 20px;
}




.lcd-display {
    background: rgb(85, 98, 116);
    padding: 10px;
    margin: 10px 0px;
    color: rgb(206, 252, 255);
    box-shadow: 0 0 20px 0px rgb(85, 98, 116);
    padding: 18x;
    font-family: monospace;
    letter-spacing: 0.15em;
}



.nuni-logo {
    background-image: url('favicon-32x32.png');
    background-size: 100%;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
}


.grid-icon {
    background-image: url('grid-icon.png');
    background-size: 100%;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
}

.analyser-canvas { 
    @extend .full;
    height: 70px;
}