






.scale-builder-container {
    background-color: $c1;
    width: 100%;
}

.scale-builder-inner { 
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.scale-builder-section {
    padding: 2%;
    border: 1px solid white;
    box-sizing: border-box;
}

.neumorph { 
    border: none;
    color: #aaa;
    margin: 4%;
    border-radius: 9px;
    background: #292929;
    box-shadow:  5px 5px 10px #212121, 
                -5px -5px 10px #2d2d2d;
}

.selected {
    background-color: rgb(3, 255, 0);
}

.show { // Has to be at the end so that it "wins".
    display: inline-block;
}