






a {
    color: rgb(121, 157, 146);
}

.scale-builder-inner { 
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.builder-section {
    padding: 4%;
    background-color: $color1;
    border: 1px solid $color4a; 
    box-sizing: border-box;
}

.neumorph {
    padding: 1.5%;
    border: none;
    color: $color4a;
    margin: 4%;
    border-radius: 9px;
    background: transparent;
    box-shadow:  5px 5px 10px $color1, 
                -5px -5px 10px $color3;
}