






a {
    color: rgb(121, 157, 146);
}

.scale-builder-container {
    background-color: $color1;
    width: 100%;
}

.scale-builder-inner { 
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.scale-builder-section {
    padding: 2%;
    border: 1px solid white;
    box-sizing: border-box;
}
.builder-section {
    padding: 2%;
    border: 1px solid white;
    box-sizing: border-box;
}

.neumorph {
    padding: 1.5%;
    border: none;
    color: $color4a;
    margin: 4%;
    border-radius: 9px;
    background: transparent;
    box-shadow:  5px 5px 10px $color1, 
                -5px -5px 10px $color3;
}

.selected {
    background: rgba(0, 255, 0, 0.25);
}

.selected2 {
    border: 2px solid cyan;
}


.show { // Has to be at the end so that it "wins".
    display: inline-block;
}

.buffer-formula-container {
    background-color: $color0;
    color: $color4;
}