






.scale-builder-container {
    background-color: $color0;
    width: 100%;
}

.scale-builder-inner { 
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.scale-builder-section {
    padding: 2%;
    border: 1px solid white;
    box-sizing: border-box;
}

.neumorph { 
    padding: 1.5%;
    border: none;
    color: $color6;
    margin: 4%;
    border-radius: 9px;
    background: transparent;
    box-shadow:  5px 5px 10px #212121, 
                -5px -5px 10px #2d2d2d;
}

.selected {
    background-color: rgb(0, 255, 0);
}

.show { // Has to be at the end so that it "wins".
    display: inline-block;
}