






a {
    color: rgb(121, 157, 146);
}

.scale-builder-inner { 
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.builder-section {
    padding: 4%;
    background-color: $color1;
    border: 1px solid $color4a; 
    box-sizing: border-box;
}

.neumorph {
    padding: 1.5%;
    border: none;
    color: $color4a;
    margin: 4%;
    border-radius: 9px;
    background: transparent;
    box-shadow:  5px 5px 5px $color1, 
                -5px -5px 5px $color3;
}


// STRUCTURE
.panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 
        30px calc(100% - 30px);
    width: 100%;
    height: 100%;
}


.top-bar {
    background: $color0;
}

.the-two-panels {
    display: grid;
    grid-template-columns: 39% 61%;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
}

.main-top-bar {
    -webkit-app-region: drag;
    background: $color1;
    // linear-gradient($color1,darken($color1, 4%));
    box-sizing: border-box;

    button {
        -webkit-app-region: no-drag;
    }
    .nodrag {
        -webkit-app-region: no-drag;
    }
}

.top-bar-btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: $color2; 
    color: $color5;
    margin: 7px 2px;
    border: none;
}

.menu {
    // define the height of the menu
    --menu-height: 40px;
    // holder and ul general style
    box-sizing: border-box;
    // position: fixed;
    // top: 0;
    // left: 0;
    width: 100%;
    ul {
      list-style: none;
      padding: 16px;
      margin: 0;
      li, li a {
        opacity: .8;
        color: #ffffff;      
        cursor: pointer;
        transition: 200ms;
        text-decoration: none;
        white-space: nowrap;
        font-weight: 700;
        &:hover {
          opacity: 1;
        }
        a {
          display: flex;
          align-items: center;
          height: 100%;
          width: 100%;      
        }      
      }
      // lets put an arrow down 
      // to the li`s with dropdown
      li {
        padding-right: 36px;
        &::before {
          content: '';
          width: 0; 
          height: 0; 
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #FFA500;
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .link {
        // links dont need arrow
        &::before {
          padding-right: 0;
          display: none;
        }      
      }
    }
    // the first ul inside the container
    // is the menu, so must be visible 
    // and have its own style
    > ul {
      display: flex;
      height: var(--menu-height);
      align-items: center;
      background-color: #000000;
      // the first ul elements can be a
      // link or an li with a nested ul. 
      // the nested ul will be a dropdown
      li {
        position: relative;
        margin: 0 8px;
        // the dropdown style
        ul {
          visibility: hidden;
          opacity: 0;        
          padding: 0;
          min-width: 160px;
          background-color: #333;
          position: absolute;
          top: calc(var(--menu-height) + 5px);
          left: 50%;
          transform: translateX(-50%);
          transition: 200ms;
          transition-delay: 200ms;
          // the dropdown items style
          li {
            margin: 0;
            padding: 8px 16px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 30px;
            padding-right: 40px;
            // lets put an arrow right
            // to the inner li`s with
            // dropdowns
            &::before {
              width: 0; 
              height: 0; 
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent;
              border-left: 5px solid #FFA500;
            }
            // every dropdown after the
            // first must open to the right
            ul {
              top: -2%;
              left: 100%;
              transform: translate(0)
            }
            &:hover {
              background-color: #000000;
            }
          }
        }
        // on hover an li (not an <a>)
        // must show its ul (dropdown)
        &:hover {
          > ul {
            opacity: 1;
            visibility: visible;
            transition-delay: 0ms;
          }
        }
      }
    }
}