






.pianoroll-controller {
    user-select: none;
    display: inline-block;
    font-family: sans-serif;
    font-size: 11px;
    padding:0;
    margin:0;
}

.wac-body {
    position: relative;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wac-pianoroll {
    cursor: pointer;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    background-size:100% calc(100%*12/16);
    background-position:left bottom;
}
.wac-menu {
    display:none;
    position:absolute;
    top:0px;
    left:0px;
    background:#eef;
    color:#000;
    padding:2px 10px;
    border:1px solid #66f;
    border-radius: 4px;
    cursor:pointer;
}
.marker {
    position: absolute;
    left:0px;
    top:0px;
    cursor:ew-resize;
    width: 16px;
    height: 24px;
    opacity: 0;
}
.loop-marker {
    position: absolute;
    left: 0px;
    top: 12px;
    cursor: move;
    background-color: rgba(255, 224, 100, 0.3);
    height: 12px;
    display: inline-block;
}
.playhead {
    position: absolute;
    left:0px;
    top:0px;
    border: none;
    border-left: 2px solid red;
    height: 100%;
}
.wac-kb{
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:100%;
    background: repeat-y;
    background-size:100% calc(100%*12/16);
    background-position:left bottom;
}
.pianoroll-sidepanel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}