






* {
    font-family: OpenSans; // Roboto;//BalooChettan2;
    // letter-spacing: 0.2em;
    // text-transform: uppercase;
    // text-decoration: wavy;
    margin: 0px;
    padding: 0px;
}

body, html {
    border-width: 0px;
    width: 100%;
    height: 100%;
    color: $color5;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    overflow: hidden;
}

select {
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;       /* Remove default arrow */
    background: $color5;
    border: none;
    padding: 0px 10px;
    color: $color1;
    cursor: pointer;
    /* background-image: url(...);   Add custom arrow */
}

button {
    cursor: pointer;
    background-color: $color2;
    color: $color5;
    font-weight: bolder;
}

.side-margin {
    margin: 0% 4%;
}
.side-padding {
    padding: 0% 4%;
}

.undo-btn {
    transform: rotate(-90deg);
}
.redo-btn {
    transform: rotate(90deg);
}

#tab-swapper { 
    height: 100%;
}

#tabs {
    background: $color2;
    color: $color5;
    width: 100%;
    height: 100%;
}








// MENUS
.graph-contextmenu {
    display: none;
    position: absolute;
    background-color: $color3;
    color: $color5;
    z-index: 3;
}

.connection-type-prompt {
    display: none;
    position: absolute;
}

.connection-type-button {
    font-size: 1em;
    border: 1px solid $color2;
    margin: 0 5px;
    border-width: 2px 2px;

    color: $color5;
    background: $color1;

    &:hover {
        color: $color6;
        background: $color2;
    }
}

.info-menu-container {
    display: none;
    color: #eee;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    // pointer-events: none;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: 4;
}

.info-menu {
    border: 3px solid blue;
    background-color: $color0;
    width: 400px;
    height: 400px;
    margin-top: 5%;
    margin-left: calc(50% - 200px);
}

.info-menu-grid {
    pointer-events: all;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
}

#info-menu-buttons {
    display: grid;
    grid-template-columns: 1fr;
    
    ._info-menu-button_ {
        color: #eee;
        pointer-events: all;
        border: 1px solid #333;
        background-color: $color2;
    }

    .active-info-button {
        background-color: $color0;
        border-right: none;
        outline: none;
    }
}

.about-info-text {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.info-content {
    list-style-position: inside;
    text-align: left;
    margin-left: 3%;
    display: none;
}

.info-text-container {
    display:table;
    height: 100%;
}








.three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.graph-copy-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}






.nunigraph-container {
    border: 30px solid $color2;
    border-left-width: 10px;
    background-color: $color2;
    box-sizing: border-box;
}

.nunigraph-canvas {
    background-color: $canvas-bg;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    box-shadow: 0 0 5px 10px $color1;// #555;
}

// .nunigraph-canvas-tint {
//     // display: none;
//     pointer-events: none;
//     width: 100%;
//     height: 100%;
//     border-radius: 40px;
//     position: absolute;
//     left: 0;
//     top: 0;

//     background: radial-gradient(
//         farthest-corner,
//         rgba(200, 40, 220, .01),
//         rgba(250, 100, 240, 0.05),
//         rgba(250, 255, 255, 0.1),
//     )
// }

.nunigraph-canvas--custom {
    background-color: $canvas-bg;
    width: 100%;
}

#nunigraph-legend {
    position: absolute;
    right: 20px;
    display: grid;
    color: white;
    font-size: 0.85em;
    grid-template-columns: 20px 85%;
    grid-template-rows: 20px;
    grid-gap: 4px;
    pointer-events: none;
    padding: 5px;
}

.window {
    -webkit-app-region: no-drag;
    display: none;
    position: absolute;
    background: #171717;
    color: $color5;
    border: 1px solid $color3;
    z-index: 2;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
}


.buffer-row {
    @extend .some-margin;
    display: inline-grid;
    width: 60%;
    grid-template-columns: 0.5fr 0.25fr 0.25fr 0.25fr 0.5fr;
}
.params-box {
    @extend .some-margin;
    display: grid;
    grid-template-columns: 39% 61%;
    box-sizing: border-box;
}
// .params-box2 {
//     @extend .some-margin;
//     display: grid;
//     grid-template-columns: 61% 39%;
//     box-sizing: border-box;
// }





#buffer-canvas {
    width: 100%;
    border: 1px solid $color1;
}

.length-indicator {
    width: 100%;
    height: 5px;
    background-color: transparent;
    border: 1px solid gray;
    border-top: none;
    margin-top: 5px;
}

#buffer-length-text {
    float: right;
}











#adsr-canvas {
    display: inline-block;
    width: 172px;
    border: 1px solid #444;
    box-sizing: border-box;
    border-top: none;
    border-right: none;
    margin-bottom: 5px;
}
#aux-adsr-canvas {
    display: inline-block;
    width: 80%;
}




