






* {
    font-family: BalooChettan2;
    margin: 0px;
    padding: 0px;
}

body, html {
    border-width: 0px;
    width: 100%;
    height: 100%;
    color: $color6;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    background: $color4;
    border: none;
    padding: 0px 10px;
    color: $color6;
    cursor: pointer;
    /* background-image: url(...);   Add custom arrow */
}

button {
    cursor: pointer;
}








// STRUCTURE
.panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 95%;
    width: 100%;
    height: 100%;
}


.top-bar {
    background: $color0;
}

// .the-three-panels {
//     display: grid;
//     grid-template-columns: 20% 30% 50%;
//     grid-template-rows: 1fr;
// }

.the-two-panels {
    display: grid;
    grid-template-columns: 39% 61%;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
}

.side-margin {
    margin: 0% 4%;
}

.top-bar-2 {
    background: $color1;
    border-bottom: 2px solid rgba(128,128,128,0.2);
    box-sizing: border-box;
}

#tab-swapper { 
    height: 100%;
}

#tabs {
    background: $color2;
    color: $color6;
    width: 100%;
    height: 100%;
}








// MENUS
#graph-contextmenu {
    display: none;
    position: absolute;
    background-color: white;
    color: #999;
    z-index: 15;
    
    .contextmenu-button {
        text-align: left;
        margin: 0;
        padding: 0;

        &:hover {
            background-color: rgba(255, 0, 0, 0.204);
        }
    }
}

.prompt {
    display: none;
    position: absolute;

    button {
        font-size: 1.5em;
        border: 1px solid rgb(26, 255, 0);
        border-width: 2px 4px;
    }
}

.info-menu-container {
    display: none;
    color: #eee;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    // pointer-events: none;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: 20;
}

.info-menu {
    border: 3px solid blue;
    background-color: $color0;
    width: 400px;
    height: 400px;
    margin-top: 5%;
    margin-left: calc(50% - 200px);
}

.info-menu-grid {
    pointer-events: all;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
}

#info-menu-buttons {
    display: grid;
    grid-template-columns: 1fr;
    
    ._info-menu-button_ {
        color: #eee;
        pointer-events: all;
        border: 1px solid #333;
        background-color: $color2;
    }

    .active-info-button {
        background-color: $color0;
        border-right: none;
        outline: none;
    }
}

.about-info-text {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.info-content {
    list-style-position: inside;
    text-align: left;
    margin-left: 3%;
    display: none;
}

.info-text-container {
    display:table;
    height: 100%;
}








.three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.graph-copy-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}








#nunigraph-canvas {
    background-color: $canvas-bg;
    height: 100%;
    width: 100%;
}

#nunigraph-legend {
    position: absolute;
    right: 20px;
    display: grid;
    color: white;
    font-size: 0.85em;
    grid-template-columns: 20px 85%;
    grid-template-rows: 20px;
    grid-gap: 4px;
}

.window {
    display: none;
    position: absolute;
    background-color: $color0;
    color: $color6;
    border: 1px solid white;
    z-index: 2;
}

.graph-selection-box {
    display: none;
    position: absolute;
    border: 1px dashed #aaa;
}

.buffer-row {
    @extend .some-margin;
    display: inline-grid;
    width: 60%;
    grid-template-columns: 0.5fr 0.25fr 0.25fr 0.25fr 0.5fr;
}
.box {
    @extend .some-margin;
    display: grid;
    grid-template-columns: 39% 61%;
}




#buffer-canvas {
    width: 100%;
    border: 1px solid cyan;
}

.length-indicator {
    width: 100%;
    height: 5px;
    background-color: transparent;
    border: 1px solid gray;
    border-top: none;
    margin-top: 5px;
}

#buffer-length-text {
    float: right;
}











#adsr-canvas {
    display: inline-block;
    width: 172px;
    border: 1px solid #444;
    box-sizing: border-box;
    border-top: none;
    border-right: none;
    margin-bottom: 5px;
}
#aux-adsr-canvas {
    display: inline-block;
    width: 80%;
}




