






* {
    // font-family: OpenSans; // Roboto;//BalooChettan2;
    // letter-spacing: 0.2em;
    // text-transform: uppercase;
    // text-decoration: wavy;
    margin: 0px;
    padding: 0px;
    background: transparent; //
}

input {
    margin: 0px;
    padding: 0px;
}

input[type=range]::-webkit-slider-runnable-track {
    background: var(--color2);
}

body, html {
    border-width: 0px;
    width: 100%;
    height: 100%;
    color: var(--color5);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
    overflow: hidden;
    background: black;
}

body {
    background: transparent;
    // background: purple;
    background-size: 130%; 
}

select {
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;       /* Remove default arrow */
    background: var(--color2);
    border: none;
    padding: 0px 10px;
    color: var(--color6);
    cursor: pointer;
    /* background-image: url(...);   Add custom arrow */
}

button {
    cursor: pointer;
    background-color: transparent;
    color: var(--color5);
    font-weight: bolder;
}

.side-margin {
    margin: 0% 4%;
}
.side-margin-4 {
    margin: 0% 4px;
}
.side-padding {
    padding: 0% 4%;
}

.undo-btn {
    transform: rotate(-90deg);
}
.redo-btn {
    transform: rotate(90deg);
}

#tab-swapper { 
    height: 100%;
}

#tabs {
    background: transparent;
    color: var(--color5);
    width: 100%;
    height: 100%;
}






.contextmenu-btn {
    border-left: 2px solid transparent;
}

// MENUS
.graph-contextmenu {
    display: none;
    position: absolute;

    // forked from .menu-nav:

    $c: var(--color1);
    
    z-index: 90;
    margin: 0px;
    background-color: transparent;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
    }
        
    ul li {
        display:inline-block;
        background-color: $c;

        /* Change this in order to change the Dropdown symbol */
        li > a:after {
            // padding-right: 36px;
            // text-align: right;
            // content: '🢒';
            // &::before {
                content: '';
                width: 0; 
                height: 0; 
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid rgb(255, 254, 204);
                position: absolute;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);
            // }
        }
        li > a:only-child:after { 
            content: ''; 
            border-width: 0px;
        }

        &.top { // Top level li
            background-color: transparent;
        }
    }
    
    a {
        display:block;
        padding:0 10px;	
        color: var(--color5);
        font-size:12px;
        line-height: 20px;
        text-decoration:none;
        font-family: sans-serif;
    }
    
    a:hover { 
        background-color: var(--color0);
    }
    
    /* Hide Dropdowns by Default */
    ul ul ul {
        display: none;
        position: absolute; 
        top: 20px; /* the height of the main nav */
    }
        
    /* Display Dropdowns on Hover */
    ul li:hover > ul {
        display:inherit;
    }
        
    /* First Tier Dropdown */
    ul ul li {
        width:170px;
        float:none;
        display:list-item;
        position: relative;
    }
    
    /* Second, Third and more Tiers	*/
    ul ul ul li {
        position: relative;
        top:-20px; 
        left:170px;
    }
}
















.connection-type-prompt {
    display: none;
    position: absolute;
}

.connection-type-button {
    font-size: 1em;
    border: 1px solid var(--color2);
    margin: 0 5px;
    border-width: 2px 2px;

    color: var(--color5);
    background: var(--color1);

    &:hover {
        color: var(--color6);
        background: var(--color2);
    }
}

.info-menu-container {
    display: none;
    color: var(--color6);
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    // pointer-events: none;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: 4;
}

.info-menu {
    border: 3px solid blue;
    background-color: var(--color0);
    width: 400px;
    height: 400px;
    margin-top: 5%;
    margin-left: calc(50% - 200px);
}

.info-menu-grid {
    pointer-events: all;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
}

#info-menu-buttons {
    display: grid;
    grid-template-columns: 1fr;
    
    ._info-menu-button_ {
        color: var(--color6);
        pointer-events: all;
        border: 1px solid #333;
        background-color: var(--color2);
    }

    .active-info-button {
        background-color: var(--color0);
        border-right: none;
        outline: none;
    }
}

.about-info-text {
    display: table-cell;
    vertical-align: middle;
    height: 100%;

    li {
        margin: 5px 0px;
    }
}

.info-content {
    list-style-position: inside;
    text-align: left;
    margin-left: 3%;
    display: none;
}

.info-text-container {
    display:table;
    height: 100%;
}








.three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.graph-copy-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}






.nunigraph-container {
    border: 30px solid transparent;
    border-left-width: 10px;
    background: transparent;
    box-sizing: border-box;
}

.nunigraph-canvas {
    background: $canvas-bg;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    
    box-shadow: 0 0 5px 10px var(--color1);// #555;
}

.nunigraph-canvas--module {
    background: $canvas-bg;
    width: 100%;
}

#nunigraph-legend {
    position: absolute;
    right: 20px;
    display: grid;
    color: white;
    font-size: 0.85em;
    grid-template-columns: 20px 85%;
    grid-template-rows: 20px;
    grid-gap: 4px;
    pointer-events: none;
    padding: 5px;
}

.window {
    -webkit-app-region: no-drag;
    display: none;
    position: absolute;
    background: var(--color0);
    color: var(--color5);
    border: 2px solid transparent;
    z-index: 2;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
}

.buffer-stuff-row {
    border-bottom: 10px solid transparent;
    box-sizing: border-box;
    display: inline-grid;
    width: 100%;
    grid-template-columns:  0.5fr 0.25fr 0.25fr 0.25fr 0.5fr 0.5fr;
}





#buffer-canvas {
    width: 100%;
    border: 1px solid var(--color1);
}

.length-indicator {
    width: 100%;
    height: 5px;
    background-color: transparent;
    border: 1px solid gray;
    border-top: none;
    margin-top: 5px;
}

#buffer-length-text {
    float: right;
}











#adsr-canvas {
    display: inline-block;
    width: 172px;
    border: 1px solid #444;
    box-sizing: border-box;
    border-top: none;
    border-right: none;
    margin-bottom: 5px;
}
#aux-adsr-canvas {
    display: inline-block;
    width: 80%;
}




