






* {
    font-family: BalooChettan2;
    margin: 0px;
    padding: 0px;
}

body, html {
    border-width: 0px;
    width: 100%;
    height: 100%;
    color: #eee;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

option {
    background: $c2;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    background: $c3;
    border: none;
    padding-left: 10px;
    color: $text;
    /* background-image: url(...);   Add custom arrow */
}
