






.panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 95%;
    width: 100%;
    height: 100%;
}

#top-bar {
    background: $ui-bg;
}

#main-a {
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
}

#left-tab {
    background: $c1;
}

.inner-tab {
    margin: 0% 3%;
}

#info-button {
    cursor: help;
    background: rgb(83, 83, 161);
    color: white;
    border-radius: 100px;
    font-style: italic;
    border: 1px solid rgba(255, 255, 255, 0.151);
    box-sizing: border-box;

    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
    /* float: right; */
    margin: auto;
    margin-right: 20px;
    width: 20px;
    height: 20px;

    vertical-align: middle;
    text-align: center;
}

#tabs-panel-top-bar {
    background: $c2;
    border-bottom: 2px solid rgba(128,128,128,0.2);
    box-sizing: border-box;
}

#tab-swapper { 
    height: 100%;
}

#tabs {
    background: $c3;
    color: $text;
    width: 100%;
    height: 100%;
}