






.adsr-and-kb {
    display: grid;
    grid-template-columns: 39% 61%;
}


._tab_ {
    display: none;
    width: 100%;
}

.main-tab {
    margin: 20px;
}

.sample-canvas-frame {
    position: relative;
    background-color: red;

    .slice {
        position: absolute;
        cursor: grab;
        bottom: 0%;
    }
    .left { 
        right: 100%;
    }
    .right { 
        left: 100%;
        transform: scale(-1, 1);
    }
    .panel {
        height: 100%;
        position: absolute;
        top: 0;
    }
    .left-panel {
        left: 0;
        width: 0;
        background: rgba(0, 0, 255, 0.25);
    }
    .right-panel {
        right: 0;
        width: 0;
        background: rgba(255, 0, 0, 0.25);
    }
}