






.adsr-and-kb {
    display: grid;
    grid-template-columns: 39% 61%;
}


._tab_ {
    display: none;
    width: 100%;
}

.main-tab {
    margin: 20px;
}

.sample-canvas {
    background-color: rgba(0,0,255,0.05);
    filter: var(--dark-mode);

    &.sample-sequencer-channel {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.next-sample-btn {
    @extend .push-button;
    display: inline-block;
    height: 17.5px;
    width: 17.5px;
    cursor: pointer;
    background-color: var(--color1); 
    color: var(--color0);
    border: none;
    text-align: center;
    vertical-align: middle;
    border-top-left-radius: 5px;

    &.bottom {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 5px;
    }
}

.sample-canvas-frame {
    position: relative;

    .slice {
        position: absolute;
        cursor: grab;
        bottom: 0%;
    }
    .left { 
        right: 100%;
    }
    .right { 
        left: 100%;
        transform: scale(-1, 1);
    }
    .panel {
        height: 100%;
        position: absolute;
        top: 0;
    }
    .left-panel {
        left: 0;
        width: 0;
        background: rgba(0, 0, 255, 0.25);
    }
    .right-panel {
        right: 0;
        width: 0;
        background: rgba(255, 0, 0, 0.25);
    }
}