






.svg-image {
    user-select: none;
}

.svg-svg {
    fill: var(--color5);
}

.hide {
    display: none;
}

.selected {
    background: rgba(0, 255, 145, 0.2);
}

.selected2 {
    border: 2px solid rgb(247, 45, 112);
    box-sizing: border-box;
}

.selected3 {
    $r: calc(200 * var(--dark1) + 5);
    $g: calc(200 * var(--dark1) + 1);
    $b: calc(200 * var(--dark1) + 54);
    // border: 2px solid var(--color2);
    box-shadow: 0px 0px 15px rgba($r, $g, $b, 0.5);
    // backdrop-filter: invert(100%);
}

.highlighted {
    border-color: cyan;
}

.transparent-fullscreen {
    display: none;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
}

.wait-cursor {
    @extend .transparent-fullscreen;
    cursor: wait;
}


.custom-node-wizard-container {
    display: none;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999998;
    text-align: center;
}

.wizard-page-one {
    margin-top:25%;
    background-color: blue;
    height: 50vh;
    width: 50vw;
}

.show { // Has to be at the end so that it "wins".
    display: inline-block;
}

.clearboth {
    clear: both;
}

.max-height-250 {
    max-height: 250px;
    overflow-y: scroll;
}

.dim {
    opacity: 0.375;
}

.opaque {
    opacity: 1;
}