






.selected {
    background: rgba(0, 255, 0, 0.25);
}

.selected2 {
    border: 2px solid rgb(247, 45, 112);
    box-sizing: border-box;
}

.highlighted {
    border: 2px solid cyan;
    box-sizing: border-box;
}

.wait-cursor {
    display: none;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    cursor: wait;
}

.show { // Has to be at the end so that it "wins".
    display: inline-block;
}

.show-grid { // Has to be at the end so that it "wins".
    display: grid;
}

.clearboth {
    clear: both;
}