






.hide {
    display: none;
}

.selected {
    background: rgba(0, 255, 0, 0.25);
}

.selected2 {
    border: 2px solid rgb(247, 45, 112);
    box-sizing: border-box;
}

.highlighted {
    border-color: cyan;
}

.transparent-fullscreen {
    display: none;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
}

.wait-cursor {
    @extend .transparent-fullscreen;
    cursor: wait;
}

.no-cursor {
    @extend .transparent-fullscreen;
    cursor: none;
}

.custom-node-wizard-container {
    display: none;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999998;
    text-align: center;
}

.wizard-page-one {
    margin-top:25%;
    background-color: blue;
    height: 50vh;
    width: 50vw;
}

.show { // Has to be at the end so that it "wins".
    display: inline-block;
}

.show-grid { // Has to be at the end so that it "wins".
    display: grid;
}

.clearboth {
    clear: both;
}

.max-height-250 {
    max-height: 250px;
    overflow-y: scroll;
}

.dim {
    opacity: 0.375;
}

.opaque {
    opacity: 1;
}