






$color0: rgb(32, 30, 32);
$color1: rgb(48, 47, 48);
$color2: rgb(58, 57, 58);
$color3: rgb(68, 64, 68);
$color4: rgb(93, 91, 94);
$color4a: lighten($color: $color4, $amount: 15%);
$color5: rgb(154, 151, 163);
$color6: rgb(255, 255, 255);

$canvas-bg: $color0;

$ui-bg: $color1;

$c-shadow: rgba(0,0,0,0.4);
    
@import './main/setup';
@import './main/atoms';
@import './main/molecules';
@import './main/organisms';
@import './main/templates';
@import './main/pages';
@import './theft/keyboard';
@import './theft/loader';


@font-face { 
	font-family: OpenSans;
	src: url("OpenSans-Regular.ttf") format('truetype');
}