






$text: rgba(105, 255, 235, 0.8);
$canvas-bg: rgb(51, 61, 63);

$c0: rgb(35, 47, 48);
$c1: #171717;
$c2: #212121;
$c3: #272727;

$ui-bg: linear-gradient(
    180deg, 
    rgb(35, 47, 48) 0%, 
    rgb(0, 0, 0) 100%);

$grad0: linear-gradient(
    180deg, 
    rgba(120,159,157,1) 0%, 
    rgba(177,163,129,1) 100%);

    
@import './main/setup';
@import './main/atoms';
@import './main/molecules';
@import './main/organisms';
@import './main/templates';
@import './main/pages';
@import './theft/keyboard';

@font-face { 
	font-family: BalooChettan2;
	src: url('BalooChettan2-Regular.ttf') format('truetype');
}