






/* SCSS RGB */
$alabaster: rgba(216, 226, 220, 1);
$champagne-pink: rgba(255, 229, 217, 1);
$pink: rgba(255, 202, 212, 1);
$light-pink: rgba(244, 172, 183, 1);
$mountbatten-pink: rgba(157, 129, 137, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #d8e2dcff, #ffe5d9ff, #ffcad4ff, #f4acb7ff, #9d8189ff);
$gradient-right: linear-gradient(90deg, #d8e2dcff, #ffe5d9ff, #ffcad4ff, #f4acb7ff, #9d8189ff);
$gradient-bottom: linear-gradient(180deg, #d8e2dcff, #ffe5d9ff, #ffcad4ff, #f4acb7ff, #9d8189ff);
$gradient-left: linear-gradient(270deg, #d8e2dcff, #ffe5d9ff, #ffcad4ff, #f4acb7ff, #9d8189ff);
$gradient-top-right: linear-gradient(45deg, #d8e2dcff, #ffe5d9ff, #ffcad4ff, #f4acb7ff, #9d8189ff);
$gradient-bottom-right: linear-gradient(135deg, #d8e2dcff, #ffe5d9ff, #ffcad4ff, #f4acb7ff, #9d8189ff);
$gradient-top-left: linear-gradient(225deg, #d8e2dcff, #ffe5d9ff, #ffcad4ff, #f4acb7ff, #9d8189ff);
$gradient-bottom-left: linear-gradient(315deg, #d8e2dcff, #ffe5d9ff, #ffcad4ff, #f4acb7ff, #9d8189ff);
$gradient-radial: radial-gradient(#d8e2dcff, #ffe5d9ff, #ffcad4ff, #f4acb7ff, #9d8189ff);


$glossy-grape: rgba(156, 137, 184, 1);
$kobi: rgba(240, 166, 202, 1);
$pink-lavender: rgba(239, 195, 230, 1);
$lavender-blush: rgba(240, 230, 239, 1);
$periwinkle-crayola: rgba(184, 190, 221, 1);

$color0:rgb(32, 30, 32);
$color1: rgb(48, 47, 48);
$color2:rgb(58, 57, 58);
$color3: rgb(68, 64, 68);
$color4: rgb(93, 91, 94);
$color4a: lighten($color: $color4, $amount: 15%);
$color5: rgb(154, 151, 163);
$color6: rgb(255, 255, 255);

$canvas-bg: $color0;

$ui-bg: $color1;

$c-shadow: rgba(0,0,0,0.4);
    
@import './main/setup';
@import './main/atoms';
@import './main/molecules';
@import './main/organisms';
@import './main/templates';
@import './main/pages';
@import './theft/keyboard';
@import './theft/loader';
@import './main/utility';


@font-face { 
	font-family: OpenSans;
	src: url("OpenSans-Regular.ttf") format('truetype');
}