* {
  font-family: MicroFLF;
  margin: 0px;
  padding: 0px;
}

body, html {
  border-width: 0px;
  width: 100%;
  height: 100%;
  color: #97a39a;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10+ and Edge */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Remove default arrow */
  background: #5b5d5e;
  border: none;
  padding: 0px 10px;
  color: #97a39a;
  cursor: pointer;
  /* background-image: url(...);   Add custom arrow */
}

button {
  cursor: pointer;
}

.panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 5% 95%;
      grid-template-rows: 5% 95%;
  width: 100%;
  height: 100%;
}

.top-bar {
  background: #201e20;
}

.the-two-panels {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 39% 61%;
      grid-template-columns: 39% 61%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}

.side-margin {
  margin: 0% 4%;
}

.top-bar-2 {
  background: #2f302f;
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-bar-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #393a39;
  color: #5b5d5e;
  margin: 4px;
  border: none;
}

.undo-btn {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.redo-btn {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#tab-swapper {
  height: 100%;
}

#tabs {
  background: #393a39;
  color: #97a39a;
  width: 100%;
  height: 100%;
}

#graph-contextmenu {
  display: none;
  position: absolute;
  background-color: white;
  color: #999;
  z-index: 15;
}

#graph-contextmenu .contextmenu-button {
  text-align: left;
  margin: 0px;
  padding: 0 10px;
}

#graph-contextmenu .contextmenu-button:hover {
  background-color: rgba(255, 0, 0, 0.204);
}

.prompt {
  display: none;
  position: absolute;
}

.prompt button {
  font-size: 1.5em;
  border: 1px solid #1aff00;
  border-width: 2px 4px;
}

.info-menu-container {
  display: none;
  color: #eee;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  z-index: 20;
}

.info-menu {
  border: 3px solid blue;
  background-color: #201e20;
  width: 400px;
  height: 400px;
  margin-top: 5%;
  margin-left: calc(50% - 200px);
}

.info-menu-grid {
  pointer-events: all;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
}

#info-menu-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#info-menu-buttons ._info-menu-button_ {
  color: #eee;
  pointer-events: all;
  border: 1px solid #333;
  background-color: #393a39;
}

#info-menu-buttons .active-info-button {
  background-color: #201e20;
  border-right: none;
  outline: none;
}

.about-info-text {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.info-content {
  list-style-position: inside;
  text-align: left;
  margin-left: 3%;
  display: none;
}

.info-text-container {
  display: table;
  height: 100%;
}

.three-columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.graph-copy-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#nunigraph-canvas {
  background-color: #201e20;
  height: 100%;
  width: 100%;
}

#nunigraph-legend {
  position: absolute;
  right: 20px;
  display: -ms-grid;
  display: grid;
  color: white;
  font-size: 0.85em;
  -ms-grid-columns: 20px 85%;
      grid-template-columns: 20px 85%;
  -ms-grid-rows: 20px;
      grid-template-rows: 20px;
  grid-gap: 4px;
  pointer-events: none;
}

.window {
  display: none;
  position: absolute;
  background-color: #201e20;
  color: #97a39a;
  border: 1px solid #404441;
  z-index: 2;
}

.buffer-row {
  display: -ms-inline-grid;
  display: inline-grid;
  width: 60%;
  -ms-grid-columns: 0.5fr 0.25fr 0.25fr 0.25fr 0.5fr;
      grid-template-columns: 0.5fr 0.25fr 0.25fr 0.25fr 0.5fr;
}

.box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 39% 61%;
      grid-template-columns: 39% 61%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#buffer-canvas {
  width: 100%;
  border: 1px solid cyan;
}

.length-indicator {
  width: 100%;
  height: 5px;
  background-color: transparent;
  border: 1px solid gray;
  border-top: none;
  margin-top: 5px;
}

#buffer-length-text {
  float: right;
}

#adsr-canvas {
  display: inline-block;
  width: 172px;
  border: 1px solid #444;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: none;
  border-right: none;
  margin-bottom: 5px;
}

#aux-adsr-canvas {
  display: inline-block;
  width: 80%;
}

code {
  font-family: monospace;
}

.hide {
  display: none;
}

.some-margin, .buffer-row, .box {
  margin: 5%;
}

.some-margin, .buffer-row, .box {
  margin: 10px;
}

.some-padding {
  padding: 2%;
}

.shrink {
  width: 40px;
}

.text-input, .text-input-wide {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #404441;
  color: white;
}

.text-input-wide {
  width: 200px;
}

.center {
  text-align: center;
}

.preset-list {
  border: 1px solid #404441;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  height: 200px;
  overflow-y: scroll;
  text-align: left;
}

.buffers-list {
  border: 1px solid #404441;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  height: 120px;
  overflow-y: scroll;
  text-align: left;
}

.rect-0 {
  width: 40px;
  height: 25px;
  background-color: #2f302f;
  color: #97a39a;
}

.dim-text {
  color: #5b5d5e;
}

.vert-split {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.apply-btn {
  margin: 5px;
  padding: 0px 5px;
  border-radius: 5px;
  border: none;
  color: #97a39a;
  background-color: #393a39;
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.list-btn {
  padding: 0px 10px;
  color: #818385;
  background: #3e3f3e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  font-size: 1em;
  border: none;
}

.list-btn:nth-child(odd) {
  background: -webkit-gradient(linear, left top, left bottom, from(#393a39), to(#2f302f));
  background: linear-gradient(#393a39, #2f302f);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, left bottom, from(#2f302f), to(#201e20));
  background: linear-gradient(#2f302f, #201e20);
  border-radius: 5x;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#404441), to(#393a39));
  background: linear-gradient(#404441, #393a39);
  border-radius: 5px;
}

.info-button {
  cursor: help;
  background: #5353a1;
  color: white;
  border-radius: 100px;
  font-style: italic;
  border: 1px solid rgba(255, 255, 255, 0.151);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  /* float: right; */
  width: 20px;
  height: 20px;
  vertical-align: middle;
  text-align: center;
  margin: 2px;
}

.record {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  color: white;
  background-color: #755;
}

.recording {
  background-color: #f00;
}

.shadow-knob {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: url("images/shadow-knob.png");
  background-size: 100% 100%;
  pointer-events: none;
}

.js-dial {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: url("images/knob.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: .4;
  pointer-events: auto;
}

.number-grab {
  font: 1em Roboto;
  letter-spacing: 0.2em;
  background: -webkit-gradient(linear, left top, left bottom, from(#2f302f), to(black));
  background: linear-gradient(#2f302f, black);
  color: #97a39a;
  border: 1px solid #404441;
  padding: 10px;
  cursor: -webkit-grab;
  cursor: grab;
}

.number-grab:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.kb-button {
  min-width: 50px;
  font-size: 20px;
}

.adsr-and-kb {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

._tab_, ._scale-tab_ {
  display: none;
  width: 100%;
}

.scale-builder-container {
  background-color: #201e20;
  width: 100%;
}

.scale-builder-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.scale-builder-section {
  padding: 2%;
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.neumorph {
  padding: 1.5%;
  border: none;
  color: #97a39a;
  margin: 4%;
  border-radius: 9px;
  background: transparent;
  -webkit-box-shadow: 5px 5px 10px #212121,  -5px -5px 10px #2d2d2d;
          box-shadow: 5px 5px 10px #212121,  -5px -5px 10px #2d2d2d;
}

.selected {
  background-color: lime;
}

.show {
  display: inline-block;
}

/* 
    Stolen from a jsfiddle and therefore does
    not fit into the atomic paradigm.
*/
.keyboard {
  text-align: center;
  font-size: 7px;
  font-family: sans-serif;
  margin-bottom: 2%;
}

.keyboard__row {
  background-color: #ffae00;
  display: inline-block;
  height: 3em;
  margin: 0.2em;
}

.keyboard__row--h1 {
  height: 1.7em;
  line-height: 1.4em;
}

.keyboard__row--h3 {
  height: 3.3em;
}

.keyboard__row > * {
  position: relative;
  background: #333;
  text-align: center;
  color: #eee;
  float: left;
  border-radius: 0.3em;
  margin: 0.2em;
  padding: 0.2em;
  width: 3.3em;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-user-select: none;
  border: 1px solid #444;
  -webkit-box-shadow: 0 0.2em 0 0.05em #222;
          box-shadow: 0 0.2em 0 0.05em #222;
  border-bottom-color: #555;
}

.keyboard__row--h1 > div {
  width: 3.5em;
}

.key-pressed {
  background: #00ff262a;
  color: #aaa;
  position: relative;
  top: 0.2em;
  -webkit-box-shadow: 0 0 0 0.05em black;
          box-shadow: 0 0 0 0.05em black;
}

.key--w3 {
  width: 4.6em;
}

.key--w4 {
  width: 6em;
}

.key--w5 {
  width: 6.5em;
}

.key--w6 {
  width: 8.3em;
}

.key--space {
  width: 18em;
}

.key--double > * {
  padding-top: 0.1em;
}

.key--letter {
  line-height: 2.8em;
}

.key--bottom-left > * {
  position: absolute;
  text-align: left;
  bottom: 0.4em;
  left: 0.4em;
}

.key--bottom-right > * {
  position: absolute;
  text-align: right;
  bottom: 0.4em;
  right: 0.4em;
}

.key--fn > * {
  font-size: 0.6em;
  line-height: 1em;
  padding-top: 1.2em;
  padding-right: 0.2em;
  text-align: right;
  float: right;
}

.key--word > * {
  font-size: 0.8em;
}

.key--arrow--tall > *,
.key--arrow > * {
  font-size: 0.5em;
  line-height: 3em;
}

.key--arrow {
  height: 1.8em;
  margin-top: 1.7em;
  line-height: 0.5em;
}

.key--arrow--tall > * {
  padding-top: 0.2em;
}

.keyboard > .keyboard__row {
  text-align: center;
}

@font-face {
  font-family: MicroFLF;
  src: url("OpenSans-Regular.ttf") format("truetype");
}
/*# sourceMappingURL=styles.css.map */