/* SCSS RGB */
/* SCSS Gradient */
:root {
  --color0:rgb(40,40,40);
  --color1: rgb(48, 47, 48);
  --color2: rgb(58, 57, 58);
  --color3: rgb(68, 64, 68);
  --color4: rgb(93, 91, 94);
  --color5: rgb(154, 151, 163);
  --color6: rgb(255, 255, 255);
  --dark-mode: invert(100%);
}

*:focus {
  outline: none;
}

* {
  margin: 0px;
  padding: 0px;
  background: transparent;
}

input {
  margin: 0px;
  padding: 0px;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: var(--color1);
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--color0);
  width: 10px;
  height: 16px;
  border: 1px solid var(--color1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  border-width: 0px;
  width: 100%;
  height: 100%;
  color: var(--color5);
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10+ and Edge */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
  overflow: hidden;
  background: black;
}

body {
  background: transparent;
  background-size: 130%;
}

select {
  background: var(--color2);
  border: none;
  padding: 0px 10px;
  color: var(--color6);
  cursor: pointer;
  /* background-image: url(...);   Add custom arrow */
}

button {
  cursor: pointer;
  color: var(--color5);
  font-weight: bolder;
}

.push-button:active, .next-sample-btn:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-transition: .1s filter ease;
  transition: .1s filter ease;
}

.side-margin {
  margin: 0% 4%;
}

.side-margin-4 {
  margin: 0% 4px;
}

.side-padding {
  padding: 0% 4%;
}

.undo-btn {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.redo-btn {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#tab-swapper {
  height: 100%;
}

#tabs {
  background: transparent;
  color: var(--color5);
  width: 100%;
  height: 100%;
}

.contextmenu-btn {
  border-left: 2px solid transparent;
}

.graph-contextmenu {
  display: none;
  position: absolute;
  z-index: 90;
  margin: 0px;
  background-color: transparent;
  /* Hide Dropdowns by Default */
  /* Display Dropdowns on Hover */
  /* First Tier Dropdown */
  /* Second, Third and more Tiers	*/
}

.graph-contextmenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.graph-contextmenu ul li {
  display: inline-block;
  background-color: var(--color1);
  /* Change this in order to change the Dropdown symbol */
}

.graph-contextmenu ul li li > a:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fffecc;
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.graph-contextmenu ul li li > a:only-child:after {
  content: '';
  border-width: 0px;
}

.graph-contextmenu ul li.top {
  background-color: transparent;
}

.graph-contextmenu a {
  display: block;
  padding: 0 10px;
  color: var(--color5);
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  font-family: sans-serif;
}

.graph-contextmenu a:hover {
  background-color: var(--color0);
}

.graph-contextmenu ul ul ul {
  display: none;
  position: absolute;
  top: 0px;
  /* the height of the main nav */
}

.graph-contextmenu ul li:hover > ul {
  display: inherit;
}

.graph-contextmenu ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

.graph-contextmenu ul ul ul li {
  position: relative;
}

.module-container {
  max-height: 320px;
  background-color: var(--color0);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 170px;
  left: 170px;
}

.connection-type-prompt {
  display: none;
  position: absolute;
}

.connection-type-button {
  font-size: 1em;
  border: 1px solid var(--color2);
  padding: 0px 10px;
  border-width: 2px;
  border-radius: 2px;
  color: var(--color5);
  background: var(--color1);
}

.connection-type-button:hover {
  color: var(--color6);
  background: var(--color2);
}

.info-menu-container {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color6);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.info-menu-container.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  pointer-events: all;
}

.info-menu {
  opacity: 1;
  border: 3px solid var(--color1);
  background-color: var(--color0);
  width: 400px;
  height: 400px;
  margin: auto auto;
  padding-top: 5px;
  text-align: center;
}

.info-menu-grid {
  opacity: 1;
  width: 100%;
  height: 100%;
}

#info-menu-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

#info-menu-buttons ._info-menu-button_ {
  color: var(--color6);
  pointer-events: all;
  border: 1px solid var(--color3);
  background-color: var(--color2);
}

#info-menu-buttons .active-info-button {
  background-color: var(--color0);
  border-right: none;
  outline: none;
}

.about-info-text {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.about-info-text li {
  margin: 5px 0px;
}

.info-content {
  list-style-position: inside;
  text-align: left;
  margin-left: 3%;
  display: none;
}

.info-text-container {
  display: table;
  height: 100%;
}

.three-columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.graph-copy-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.nunigraph-container {
  border: 30px solid transparent;
  border-left-width: 10px;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nunigraph-canvas {
  background: radial-gradient(circle, var(--color0) 34%, var(--color1) 100%);
  height: 100%;
  width: 100%;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 5px 10px var(--color1);
          box-shadow: 0 0 5px 10px var(--color1);
}

.nunigraph-canvas--module {
  background: radial-gradient(circle, var(--color0) 34%, var(--color1) 100%);
  width: 100%;
}

#nunigraph-legend {
  position: absolute;
  right: 20px;
  display: -ms-grid;
  display: grid;
  color: white;
  font-size: 0.85em;
  -ms-grid-columns: 20px 85%;
      grid-template-columns: 20px 85%;
  -ms-grid-rows: 20px;
      grid-template-rows: 20px;
  grid-gap: 4px;
  pointer-events: none;
  padding: 5px;
}

.window {
  -webkit-app-region: no-drag;
  display: none;
  position: absolute;
  background: var(--color0);
  color: var(--color5);
  border: 2px solid transparent;
  z-index: 2;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.buffer-stuff-row {
  border-bottom: 10px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-inline-grid;
  display: inline-grid;
  width: 100%;
  -ms-grid-columns: 0.25fr 0.25fr 0.25fr 0.5fr 0.5fr 0.25fr;
      grid-template-columns: 0.25fr 0.25fr 0.25fr 0.5fr 0.5fr 0.25fr;
}

.buffer-canvas {
  width: 100%;
}

.length-indicator {
  width: 100%;
  height: 5px;
  background-color: transparent;
  border: 1px solid gray;
  border-top: none;
  margin-top: 5px;
}

#buffer-length-text {
  float: right;
}

#adsr-canvas {
  display: inline-block;
  width: 172px;
  border: 1px solid #444;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: none;
  border-right: none;
  margin-bottom: 5px;
}

#aux-adsr-canvas {
  display: inline-block;
  width: 80%;
}

.project-title {
  height: 40px;
}

.traffic-lights {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.traffic-lights div {
  width: 28px;
  height: 18px;
  text-align: center;
  color: var(--color5);
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

#close-window:hover {
  background: rgba(255, 0, 0, 0.25);
}

#minimize-window:hover {
  background: rgba(255, 255, 0, 0.25);
}

#restore-window:hover {
  background: rgba(0, 255, 0, 0.25);
}

code {
  font-family: monospace;
}

.code2 {
  background-color: var(--color0);
}

.margin-4 {
  margin: 4px;
}

.some-margin {
  margin: 10px;
}

.some-padding, .sequencer-controls {
  padding: 10px;
}

.some-border {
  border: 10px solid transparent;
}

.shrink {
  width: 40px;
}

.text-input, .text-input-wide, .text-input-medium {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color3);
  color: var(--color6);
}

.text-input-wide {
  width: 100%;
  height: 40px;
}

.text-input-medium {
  width: 200px;
  height: 30px;
}

.center, .loading-text {
  text-align: center;
}

.preset-list {
  border: 1px solid var(--color3);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  max-height: 200px;
  overflow-y: scroll;
  text-align: left;
}

.buffers-list {
  border: 1px solid var(--color3);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  overflow-y: scroll;
  text-align: left;
  width: 150px;
}

.buffer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 140px;
}

.rect-0 {
  width: 40px;
  height: 25px;
  background-color: var(--color1);
  color: var(--color5);
}

.dim-text {
  color: var(--color5);
}

.vert-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.step-updater {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.step-updater-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-text {
  font-size: 2em;
  text-shadow: blue;
}

.flat-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table {
  display: table;
  height: 100%;
  width: 100%;
}

.full, .analyser-canvas {
  width: 100%;
  height: 100%;
}

.vcontainer {
  min-height: 10em;
  display: table-cell;
  vertical-align: middle;
}

.color1 {
  background: var(--color1);
}

.flex-center, .sequencer-step-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.space-evenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.vert-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.note-box {
  margin: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color3)), to(transparent));
  background: linear-gradient(var(--color3), transparent);
  border: 2px solid var(--color1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.note-box.selected {
  background: var(--color3) -webkit-gradient(linear, left top, left bottom, from(#5c8), to(var(--color0)));
  background: var(--color3) linear-gradient(#5c8, var(--color0));
}

.note-box.selected.highlighted {
  border-color: #cbf;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.note-box.halfway {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color4)), to(var(--color0)));
  background: linear-gradient(var(--color4), var(--color0));
}

.note-box.halfway.selected {
  background: var(--color3) -webkit-gradient(linear, left top, left bottom, from(#5ca), to(var(--color0)));
  background: var(--color3) linear-gradient(#5ca, var(--color0));
}

.sequencer-bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smaller-text {
  font-size: .75em;
}

.shadow-knob {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 2px;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7))), url("images/shadow-knob.png");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("images/shadow-knob.png");
  background-size: 100% 100%;
  pointer-events: none;
}

.shadow-knob._1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7))), url("images/shadow-knob3.png");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("images/shadow-knob3.png");
  background-size: 100% 100%;
}

.shadow-knob._2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 250, 240, 0.5)), to(rgba(130, 130, 110, 0.5))), url("images/shadow-knob2.jfif");
  background: linear-gradient(rgba(250, 250, 240, 0.5), rgba(130, 130, 110, 0.5)), url("images/shadow-knob2.jfif");
  background-size: 100% 100%;
}

.shadow-knob._3 {
  background: transparent;
}

.js-dial {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  background-image: url("images/knob.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: .4;
  pointer-events: auto;
}

.js-dial._1 {
  background-image: url("images/knob1.png");
}

.js-dial._2 {
  background-image: url("images/knob.png");
}

.draggable-window-bar {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color1)), to(var(--color0)));
  background: linear-gradient(var(--color1), var(--color0));
  height: 25px;
  cursor: move;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 25px;
      grid-template-columns: auto 25px;
}

.draggable-window-bar .exit-button {
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  border: none;
  text-Align: center;
  line-height: 25px;
}

.draggable-window-bar .exit-button:hover {
  background-color: rgba(255, 0, 0, 0.1);
}

.bar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number-dial-input::-webkit-outer-spin-button,
.number-dial-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-dial-input {
  background-color: var(--color1);
  width: 44px;
  color: var(--color5);
  display: block;
}

.number-dial-component {
  display: -ms-inline-grid;
  display: inline-grid;
  text-align: start;
}

.number-grab {
  font: 1em Roboto;
  letter-spacing: 0.1em;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color2)), to(var(--color0)));
  background: linear-gradient(var(--color2), var(--color0));
  color: var(--color5);
  border: 1px solid var(--color0);
  border-right-color: var(--color4);
  border-bottom-color: var(--color4);
  padding: 10px;
  width: inherit;
  cursor: -webkit-grab;
  cursor: grab;
}

.number-grab:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color3)), to(var(--color4)));
  background: linear-gradient(var(--color3), var(--color4));
}

.number-grab:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  background: linear-gradient(-45deg, var(--color2), var(--color4));
  background-size: 400% 400%;
  -webkit-animation: gradient 1.618s ease infinite;
          animation: gradient 1.618s ease infinite;
}

.number-input-2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: 0.75em Roboto;
  letter-spacing: 0.1em;
  background: transparent;
  color: var(--color5);
  border: 0px solid transparent;
  width: 44px;
  text-align: center;
}

.number-input-2::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.toggle0 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 8px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  -webkit-transition: background-color ease 0.3s;
  transition: background-color ease 0.3s;
  display: block;
  margin: auto auto;
}

.toggle0:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 2;
  width: 6px;
  height: 6px;
  background: var(--color0);
  left: 1px;
  top: 1px;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle0:checked {
  background-color: #928e91;
}

.toggle0:checked:before {
  left: 8px;
}

.number-dial-container {
  display: -ms-inline-grid;
  display: inline-grid;
}

.list-btn {
  padding: 0px 10px;
  color: var(--color5);
  background: var(--color0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  font-size: 1em;
  border: none;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

.list-btn:hover {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.list-btn:nth-child(odd) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.06)), to(rgba(0, 0, 0, 0.06))), var(--color0);
  background: linear-gradient(rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), var(--color0);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color1)), to(var(--color0)));
  background: linear-gradient(var(--color1), var(--color0));
  border-radius: 5x;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color3)), to(var(--color2)));
  background: linear-gradient(var(--color3), var(--color2));
  border-radius: 5px;
}

.swapper span {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.resizeable-window-bottom-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5px auto 5px;
      grid-template-columns: 5px auto 5px;
  cursor: s-resize;
  height: 5px;
}

.nwse-corner-drag-box {
  cursor: nwse-resize;
}

.draggable-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5px auto 5px;
      grid-template-columns: 5px auto 5px;
}

.ew-edge-drag {
  cursor: ew-resize;
}

.nesw-corner-drag-box {
  cursor: nesw-resize;
}

.title-editor {
  background-color: transparent;
  color: inherit;
  text-overflow: ellipsis;
  border-width: 1px;
  border-color: var(--color2);
  border-top-color: var(--color0);
  border-left-color: var(--color0);
  border-radius: 4px;
}

.error-msg {
  color: pink;
}

.fader-0 {
  width: 50px;
}

.fader-0 ::-webkit-slider-runnable-track {
  background: var(--color2);
  height: 2px;
}

.fader-0 ::-webkit-slider-thumb {
  background: var(--color0);
  height: 10px;
  width: 10px;
}

.info-button {
  cursor: help;
  background: #5353a1;
  color: white;
  border-radius: 100px;
  font-style: italic;
  border: 1px solid rgba(255, 255, 255, 0.151);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  width: 20px;
  height: 20px;
}

.record {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  color: white;
  background-color: #755;
}

.recording {
  background-color: #f00;
}

.record-error {
  background-color: orange;
}

.rec-buttons-container {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.rec-buttons-container button {
  padding: 0px 5px;
}

.audioparams-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 5px 10px;
}

.audioparam-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 5px 10px;
}

.params-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.75fr 1fr;
      grid-template-rows: 0.75fr 1fr;
  width: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.params-box-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.75fr 1fr;
      grid-template-rows: 0.75fr 1fr;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.kb-button {
  min-width: 50px;
  font-size: 20px;
}

.play-button {
  background: transparent;
  border: none;
  color: green;
  font-size: 3em;
  vertical-align: middle;
}

.lcd-display {
  background: rgba(20, 10, 30, 0.5);
  padding: 10px;
  margin: 10px 0px;
  color: #cefcff;
  padding: 18x;
  font-family: monospace;
  letter-spacing: 0.15em;
}

.nuni-logo {
  background-image: url("favicon-32x32.png");
  background-size: 100%;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
}

.grid-icon {
  background-image: url("grid-icon.png");
  background-size: 100%;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.analyser-canvas {
  height: 70px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  background-color: #f70;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: white;
  float: right;
  text-align: center;
}

.tooltip._2 {
  width: 15px;
  height: 15px;
  cursor: help;
  background: transparent;
  color: var(--color5);
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.151);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-color: var(--color3);
  font-weight: bold;
  margin-top: 2px;
  border-bottom-color: transparent;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: var(--color2);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -310px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.buffer-formula {
  font-family: Lucida Console;
}

.adsr-and-kb {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 39% 61%;
      grid-template-columns: 39% 61%;
}

._tab_ {
  display: none;
  width: 100%;
}

.main-tab {
  margin: 20px;
}

.sample-canvas {
  background-color: rgba(0, 0, 255, 0.05);
  -webkit-filter: var(--dark-mode);
          filter: var(--dark-mode);
}

.sample-canvas.sample-sequencer-channel {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.next-sample-btn {
  display: inline-block;
  height: 17.5px;
  width: 11px;
  cursor: pointer;
  background-color: var(--color1);
  color: var(--color4);
  border: none;
  text-align: center;
  vertical-align: middle;
  border-top-left-radius: 5px;
}

.next-sample-btn.bottom {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 5px;
}

.sample-canvas-frame {
  position: relative;
}

.sample-canvas-frame .slice {
  position: absolute;
  cursor: -webkit-grab;
  cursor: grab;
  bottom: 0%;
}

.sample-canvas-frame .left {
  right: 100%;
}

.sample-canvas-frame .right {
  left: 100%;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.sample-canvas-frame .panel {
  height: 100%;
  position: absolute;
  top: 0;
}

.sample-canvas-frame .left-panel {
  left: 0;
  width: 0;
  background: rgba(0, 0, 255, 0.25);
}

.sample-canvas-frame .right-panel {
  right: 0;
  width: 0;
  background: rgba(255, 0, 0, 0.25);
}

a {
  color: #799d92;
}

.scale-builder-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.builder-section {
  padding: 4%;
  background-color: var(--color1);
  border: 1px solid var(--color4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.neumorph {
  padding: 1.5%;
  border: none;
  color: var(--color5);
  margin: 4%;
  border-radius: 9px;
  background: transparent;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5), -2px -2px 2px var(--color1);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5), -2px -2px 2px var(--color1);
  width: 50px;
  height: 30px;
}

.neumorph2 {
  padding: 1.5%;
  border: none;
  color: var(--color5);
  margin: 4%;
  border-radius: 9px;
  background: transparent;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5), -2px -2px 2px var(--color1);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5), -2px -2px 2px var(--color1);
}

.panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 30px calc(100% - 30px);
      grid-template-rows: 30px calc(100% - 30px);
  width: 100%;
  height: 100%;
}

.top-bar {
  background: var(--color0);
}

.the-two-panels {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 39% 61%;
      grid-template-columns: 39% 61%;
  -ms-grid-columns: 400px auto;
      grid-template-columns: 400px auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}

.main-top-bar {
  -webkit-app-region: drag;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color1)), to(var(--color0)));
  background: linear-gradient(var(--color1), var(--color0));
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid var(--color0);
  border-top-color: #111;
  border-bottom-color: var(--color4);
}

.main-top-bar button {
  -webkit-app-region: no-drag;
}

.main-top-bar.left {
  border-right-width: 0px;
}

.main-top-bar.right {
  border-left-width: 0px;
}

.no-drag, .menu-nav ul li {
  -webkit-app-region: no-drag;
}

.top-bar-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: var(--color1);
  color: var(--color5);
  margin: 7px 2px;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.nice-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: var(--color1);
  color: var(--color5);
  margin: 2px 2px;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.menu-nav {
  z-index: 90;
  margin: 0px;
  background-color: transparent;
  /* Hide Dropdowns by Default */
  /* Display Dropdowns on Hover */
  /* First Tier Dropdown */
  /* Second, Third and more Tiers	*/
}

.menu-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.menu-nav ul li {
  display: inline-block;
  background-color: var(--color1);
  /* Change this in order to change the Dropdown symbol */
}

.menu-nav ul li li > a:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fffecc;
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu-nav ul li li > a:only-child:after {
  content: '';
  border-width: 0px;
}

.menu-nav ul li.top {
  background-color: transparent;
}

.menu-nav a {
  display: block;
  padding: 0 10px;
  color: var(--color5);
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  letter-spacing: 3px;
}

.menu-nav a:hover {
  background-color: var(--color0);
}

.menu-nav ul ul {
  display: none;
  position: absolute;
  top: 30px;
  /* the height of the main nav */
}

.menu-nav ul li:hover > ul {
  display: inherit;
}

.menu-nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

.menu-nav ul ul ul li {
  position: relative;
  top: -30px;
  left: 170px;
}

/* 
    Stolen from a jsfiddle and therefore does
    not fit into the atomic paradigm.
*/
.keyboard {
  text-align: center;
  font-size: 5px;
  font-family: sans-serif;
  margin-bottom: 2%;
}

.keyboard__row {
  background-color: #ffae00;
  display: inline-block;
  height: 3em;
  margin: 0.2em;
}

.keyboard__row--h1 {
  height: 1.7em;
  line-height: 1.4em;
}

.keyboard__row--h3 {
  height: 3.3em;
}

.keyboard__row > * {
  position: relative;
  background: #333;
  text-align: center;
  color: #eee;
  float: left;
  border-radius: 0.3em;
  margin: 0.2em;
  padding: 0.2em;
  width: 3.3em;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-user-select: none;
  border: 1px solid #444;
  -webkit-box-shadow: 0 0.2em 0 0.05em #222;
          box-shadow: 0 0.2em 0 0.05em #222;
  border-bottom-color: #555;
}

.keyboard__row--h1 > div {
  width: 3.5em;
}

.key-pressed {
  background: #00ff262a;
  color: #aaa;
  position: relative;
  top: 0.2em;
  -webkit-box-shadow: 0 0 0 0.05em black;
          box-shadow: 0 0 0 0.05em black;
}

.key--w3 {
  width: 4.6em;
}

.key--w4 {
  width: 6em;
}

.key--w5 {
  width: 6.5em;
}

.key--w6 {
  width: 8.3em;
}

.key--space {
  width: 18em;
}

.key--double > * {
  padding-top: 0.1em;
}

.key--letter {
  line-height: 2.8em;
}

.key--bottom-left > * {
  position: absolute;
  text-align: left;
  bottom: 0.4em;
  left: 0.4em;
}

.key--bottom-right > * {
  position: absolute;
  text-align: right;
  bottom: 0.4em;
  right: 0.4em;
}

.key--fn > * {
  font-size: 0.6em;
  line-height: 1em;
  padding-top: 1.2em;
  padding-right: 0.2em;
  text-align: right;
  float: right;
}

.key--word > * {
  font-size: 0.8em;
}

.key--arrow--tall > *,
.key--arrow > * {
  font-size: 0.5em;
  line-height: 3em;
}

.key--arrow {
  height: 1.8em;
  margin-top: 1.7em;
  line-height: 0.5em;
}

.key--arrow--tall > * {
  padding-top: 0.2em;
}

.keyboard > .keyboard__row {
  text-align: center;
}

.loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color0);
  z-index: 5;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  pointer-events: none;
}

.loading-text {
  margin-top: 50vh;
  font-size: 1.5em;
}

.loader .l_main {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 172px;
  height: 128px;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 550px) {
  .loader {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}

@media (max-width: 440px) {
  .loader {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

.l_square {
  position: relative;
}

.l_square:nth-child(1) {
  margin-left: 0px;
}

.l_square:nth-child(2) {
  margin-left: 44px;
}

.l_square:nth-child(3) {
  margin-left: 88px;
}

.l_square:nth-child(4) {
  margin-left: 132px;
}

.l_square span {
  position: absolute;
  top: 0px;
  left: 20px;
  height: 36px;
  width: 36px;
  border-radius: 2px;
  background-color: var(--color5);
}

.l_square span:nth-child(1) {
  top: 0px;
}

.l_square span:nth-child(2) {
  top: 44px;
}

.l_square span:nth-child(3) {
  top: 88px;
}

.l_square:nth-child(1) span {
  -webkit-animation: animsquare1 2s infinite ease-in;
  animation: animsquare1 2s infinite ease-in;
}

.l_square:nth-child(2) span {
  -webkit-animation: animsquare2 2s infinite ease-in;
  animation: animsquare2 2s infinite ease-in;
}

.l_square:nth-child(3) span {
  -webkit-animation: animsquare3 2s infinite ease-in;
  animation: animsquare3 2s infinite ease-in;
}

.l_square:nth-child(4) span {
  -webkit-animation: animsquare4 2s infinite ease-in;
  animation: animsquare4 2s infinite ease-in;
}

.l_square span:nth-child(1) {
  -webkit-animation-delay: 0.00s;
  animation-delay: 0.00s;
}

.l_square span:nth-child(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.l_square span:nth-child(3) {
  -webkit-animation-delay: 0.30s;
  animation-delay: 0.30s;
}

@-webkit-keyframes animsquare1 {
  0%, 5%, 95%, 100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  30%, 70% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

@keyframes animsquare1 {
  0%, 5%, 95%, 100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  30%, 70% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

@-webkit-keyframes animsquare2 {
  0%, 10%, 90%, 100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  35%, 65% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

@keyframes animsquare2 {
  0%, 10%, 90%, 100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  35%, 65% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

@-webkit-keyframes animsquare3 {
  0%, 15%, 85%, 100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  40%, 60% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

@keyframes animsquare3 {
  0%, 15%, 85%, 100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  40%, 60% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

@-webkit-keyframes animsquare4 {
  0%, 20%, 80%, 100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  45%, 55% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

@keyframes animsquare4 {
  0%, 20%, 80%, 100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  45%, 55% {
    -webkit-transform: translate(-40px, 0px) rotate(-90deg);
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

.svg-image {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.svg-svg {
  fill: var(--color5);
}

.hide {
  display: none;
}

.selected {
  background: rgba(0, 255, 0, 0.25);
}

.selected2 {
  border: 2px solid #f72d70;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.selected3 {
  border: 2px solid var(--color2);
  -webkit-box-shadow: 0px 0px 10px rgba(150, 150, 150, 0.2);
          box-shadow: 0px 0px 10px rgba(150, 150, 150, 0.2);
}

.highlighted {
  border-color: cyan;
}

.transparent-fullscreen, .wait-cursor {
  display: none;
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
}

.wait-cursor {
  cursor: wait;
}

.custom-node-wizard-container {
  display: none;
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999998;
  text-align: center;
}

.wizard-page-one {
  margin-top: 25%;
  background-color: blue;
  height: 50vh;
  width: 50vw;
}

.show {
  display: inline-block;
}

.show-grid {
  display: -ms-grid;
  display: grid;
}

.clearboth {
  clear: both;
}

.max-height-250 {
  max-height: 250px;
  overflow-y: scroll;
}

.dim {
  opacity: 0.375;
}

.opaque {
  opacity: 1;
}

.apply-btn {
  margin: 5px;
  padding: 0px 5px;
  border-radius: 5px;
  border: none;
  color: var(--color5);
  background-color: var(--color0);
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-box-container {
  background-color: var(--color0);
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20px auto 20px;
      grid-template-rows: 20px auto 20px;
  -ms-grid-columns: 20px auto 20px;
      grid-template-columns: 20px auto 20px;
  border-radius: 20px;
}

.main-box-container .sw-corner {
  background: -webkit-gradient(linear, left bottom, left top, from(#121212), to(transparent)), -webkit-gradient(linear, left top, right top, from(var(--color1)), to(transparent));
  background: linear-gradient(0deg, #121212 0%, transparent 100%), linear-gradient(90deg, var(--color1) 0%, transparent 100%);
  background-blend-mode: normal;
  border-bottom-left-radius: 3px;
}

.main-box-container .nw-corner {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color4)), to(transparent)), -webkit-gradient(linear, left top, right top, from(var(--color1)), to(transparent));
  background: linear-gradient(180deg, var(--color4) 0%, transparent 100%), linear-gradient(90deg, var(--color1) 0%, transparent 100%);
  background-blend-mode: lighten;
  border-top-left-radius: 3px;
}

.main-box-container .ne-corner {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color4)), to(transparent)), -webkit-gradient(linear, right top, left top, from(var(--color1)), to(transparent));
  background: linear-gradient(180deg, var(--color4) 0%, transparent 100%), linear-gradient(270deg, var(--color1) 0%, transparent 100%);
  background-blend-mode: darken, luminosity;
  border-top-right-radius: 3px;
}

.main-box-container .se-corner {
  background: -webkit-gradient(linear, left bottom, left top, from(#121212), to(transparent)), -webkit-gradient(linear, right top, left top, from(var(--color1)), to(transparent));
  background: linear-gradient(0deg, #121212 0%, transparent 100%), linear-gradient(270deg, var(--color1) 0%, transparent 100%);
  background-blend-mode: darken;
  border-bottom-right-radius: 3px;
}

.main-box-container .left-edge {
  background: -webkit-gradient(linear, left top, right top, from(var(--color1)), to(transparent));
  background: linear-gradient(90deg, var(--color1) 0%, transparent 100%);
}

.main-box-container .right-edge {
  background: -webkit-gradient(linear, right top, left top, from(var(--color1)), to(transparent));
  background: linear-gradient(270deg, var(--color1) 0%, transparent 100%);
}

.main-box-container .top-edge {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color4)), to(transparent));
  background: linear-gradient(180deg, var(--color4) 0%, transparent 100%);
}

.main-box-container .top-edge .draggable-part {
  -webkit-app-region: drag;
  height: 100%;
  width: calc(100vw - 105px);
}

.main-box-container .bottom-edge {
  background: -webkit-gradient(linear, left bottom, left top, from(#121212), to(transparent));
  background: linear-gradient(0deg, #121212 0%, transparent 100%);
}

.clock-settings {
  border: 1px solid var(--color4);
  border-radius: 25px;
}

.clock-area-label {
  margin-top: -24%;
  background-color: var(--color0);
  padding: 0px 17px;
}

@font-face {
  font-family: OpenSans;
  src: url("OpenSans-Regular.ttf") format("truetype");
}
/*# sourceMappingURL=styles.css.map */