






@import './main/keyboard';
@import './main/variables';
@import './main/menus';
@import './main/setup';
@import './main/structure';

@font-face { 
	font-family: BalooChettan2;
	src: url('BalooChettan2-Regular.ttf') format('truetype');
}
















#node-options {
    width: 100%;
}

.new-node-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.graph-copy-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}









#graph-canvas-top-bar {
    background: $c2;
    border-bottom: 2px solid rgba(128,128,128,0.2);
    box-sizing: border-box;
}

#nunigraph-canvas {
    background-color: $canvas-bg;/* #fefefe; */
    height: 100%;
    width: 100%;
}

#nunigraph-legend {
    position: absolute;
    right: 20px;
    display: grid;
    color: white;
    font-size: 0.85em;
    grid-template-columns: 20px 85%;
    grid-template-rows: 20px;
    grid-gap: 4px;
}

#node-value-container {
    display: none;
    position: absolute;
    /* right: 0; */
    background-color: rgb(0, 7, 1);
    border: 1px solid white;
    z-index: 9;
}





.number-grab {
    font-family:'Orbitron';
    background: transparent;
    color: white;
    border: 1px solid $canvas-bg;
    padding: 10px;
    cursor: grab;
}

.number-grab:active {
    cursor: grabbing;
}

#buffer-canvas {
    width: 100%;
    border: 1px solid cyan;
}

.length-indicator {
    width: 100%;
    height: 5px;
    background-color: transparent;
    border: 1px solid gray;
    border-top: none;
    margin-top: 5px;
}

#buffer-length-text {
    float: right;
}

.record {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    color:white;
    background-color: #755;
}
.recording {
    background-color: #f00;
}

.selected {
    background-color: green;
}

.box {
    display: grid;
    grid-template-columns: 39% 61%;
}

.tab {
    display: none;
    width: 100%;
}

.show {
    display: inline-block;
}









/* #adsr-box {
} */
.shadow-knob {
    display: inline-block;

    width: 40px;
    height: 40px;

    border-radius: 100%;
    background-image: url('images/shadow-knob.png');
    background-size: 100% 100%;
    pointer-events: none;
}

.js-dial {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;

    border-radius: 100%;

    background-image: url('images/knob.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: .4;
    pointer-events: auto;
}
#adsr-canvas {
    display: inline-block;
    width: 92px;
}
#aux-adsr-canvas {
    display: inline-block;
    width: 80%;
}

.neumorph { 
    border: none;
    color: #aaa;
    margin: 4%;
    border-radius: 4px;
    background: linear-gradient(145deg, #232323, #2a2a2a);
    box-shadow:  5px 5px 5px #202020, 
                 -5px -5px 5px #2e2e2e;
}
